body {
    position: relative;
}

#contact_modal {
    display: none;
}

#lightbox_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden
  }

.modal {
    /* position: absolute; */
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
}

.formulaire {
    margin: auto;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background-color: #DB8876;
    width: 50%;
    border-radius: 5px;
    box-shadow: -5px 10px 30px 0px rgba(0,0,0,0.25);
}

/* .modal {
    position: absolute;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    top: 10%;
    left: 20%;
    box-shadow: -5px 10px 30px 0px rgba(0,0,0,0.25);
} */

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* .lightbox {
    display: none;
    background: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
} */
 
/* .lightbox.active {
    display: block;
    background-color: gray;
}  */

.modal-lightbox {
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 8vh;
    background: white;
    box-shadow: -5px 10px 30px 0px rgba(0,0,0,0.25);
    position: relative;
}

.modal-lightbox img {
    cursor: pointer;
}

.photo-lightbox img, video {
    width: 500px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.cross-lightbox img {
    width: 25px;
}

.cross-lightbox{
    position: absolute;
    right: 16px;
    top: 16px;   
}

.photos-photographe img {
    cursor: pointer;
}

.lightbox_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lightbox-nav {
    cursor: pointer;
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lightbox-title {
    color: #901C1C;
  }