#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.lightbox {
    display: none;
    background: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}

.lightbox.active {
    display: block;
    /* background-color: gray; */
}

.modal-lightbox {
    border-radius: 5px;
    /* background-color: #959595; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

/* .modal-lightbox header {
    justify-content: space-between;
    width: 100%;
} */

.modal-lightbox img {
    cursor: pointer;
}

.photo-lightbox {
    width: 700px;
    height: 700px;
}

.lightbox_button {
    display: flex;
    /* flex-direction: row-reverse; */
}

.lightbox_previous,
.lightbox_next {
    color: #901C1C;
    cursor: pointer;
}

.photo-lightbox img {
    z-index: 1000;
    width: 500px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.photo-lightbox h3 {
    color: #901C1C;
}

.cross-lightbox img {
    width: 25px;
    height: 25px;
    fill: #901C1C;      
}

.photos-photographe img {
    cursor: pointer;
}