@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

main {
    padding: 3%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
    padding-top: 10px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 30px;
    margin-bottom: 0;
}

.photographer_section article img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.photographer_section article h3 {
    color: #901C1C;
    margin-top: 0;
    margin-bottom: 0;
}

.photographer_section article h5 {
    margin: 0;
}

.photographer_section article p {
    font-size: 10px;
    color: #757575;
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 5%;
}

.photographer-name {
    font-size: xxx-large;
    color: #D3573C;
}

.photographer-city, .photographer-country {
    color: #901C1C;
}

.photographer-tagline {
    color: #525252;
}

.photographer-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.localisation {
    display: flex;
    flex-direction: row;
}

button {
    font-size: large;
    font-weight: bold;
    background-color: white;
    border: none;
    padding-top: 20px;
}

.photos-photographer {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding-top: 3%;
}

/* .photos-photographer article {
    display: flex;
    flex-direction: column-reverse;
} */

.photos-photographer img, video {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.calotte2 {
    /* display: flex;
    justify-content: space-between; */
}

.calotte h3, p {
    color: #901C1C;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /* padding-top: 10px;
    padding-bottom: 20px; */
}